:root {
  --primary-color: black;
  --secondary-color: grey;
  --accent1-color: rgb(4, 4, 4);
  --accent2-color: #f1faee;
  --heading-font: "Time New Roman", sherif;
  --body-font: "Arial"
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--body-font);
  color: var(--accent1-color);
}

div,
section,
footer {
  border: 1px solid #999;
  border-top: 1px solid black;
  padding: 50px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 15px;
}

header {
  border: 1px solid #999;
  border-top: 1px solid black;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: rgba(203, 130, 216, 0.147);
}

header .grid {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

header nav {
  display: flex;
  justify-self: end;
}

header nav a {
  margin-left: 2rem;
  color: var(--accent1-color);
  text-decoration: none;
  border: 1px solid black;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

.hero {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
}

.hero h1 {
  grid-column: 1 / -1;
  text-align: center;
}

.hero img {
  width: 200px;
  height: auto;
}

.hero article {
  display: flex;
  align-items: center;
  text-align: justify;
  gap: 10px;
}

.history {
  background-color: #faf9f9;
}

.history h2 {
  text-align: center;
}

.history-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  text-align: justify;
  border: none;
}

.history img {
  width: 200px;
  height: auto;
}

.gallery {
  background-color: #faf9f9;
}

.gallery h2 {
  text-align: center;
  padding: 1rem;
}

figure {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1fr;
}

figure img {
  justify-content: center;
  align-items: flex-end;
  width: 100px;
  height: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(203, 130, 216, 0.147);
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia img {
  width: 50px;
  height: auto;
}